@import "_reset.css";

@font-face {
  font-family: iranyekan;
  src: url("../fonts/iranyekanwebregular.eot") format("eot");
  src: url("../fonts/iranyekanwebregular.woff")
    format("woff");
  src: url("../fonts/iranyekanwebregular.woff2")
    format("woff2");
}
/* style header  */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 10;
  padding: 0 15px;
  background: #040b14;
}
#header .profile .profile-img {
  margin: 14px auto;
  display: block;
  width: 175px;
  border-radius: 135px;
  border: 8px solid #2c2f3f;
}
#header .profile h2 {
  font-size: 25px;
  color: #fff;
}
#header .profile .socialMedia > a {
  padding: 7px 12px;
  background: #212421;
  line-height: 2;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 20px;
  color: #fff;
}
#header .profile .socialMedia a i {
  vertical-align: -3px;
}
#header .profile .socialMedia a:hover i {
  transition: all 0.6s;
  color: #149ddd;
}
/*end style header  */
/* nav bar */
.nav-menu ul {
  margin: 20px 0px 0px 30px;
}
.nav-menu ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #a8a9b4;
  font-size: 18px;
  transition: 0.3;
}
.nav-menu a:hover {
  transition: all 0.6s;
  color: #fff;
}
.nav-menu a i {
  vertical-align: 5em !important;
  font-size: 20px;
}
.nav-menu ul li a:hover i {
  transition: all 0.6s;
  color: #149ddd;
}
/*end  nav bar */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/me2.jpg") top center;
  background-attachment: fixed;
  background-size: cover;
}
#hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(5, 13, 24, 0.6);
  z-index: 1;
}
#hero .hero-container {
  position: absolute;
  z-index: 5;
}
#hero .hero-container h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 5px;
}
#hero .hero-container p {
  margin-top: 15px;
  font-size: 30px;
  color: #fff;
}
#main {
  margin-left: 300px;
}
#main .section-title h1 {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 17px;
  color: #173b6c;
}
#main .section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
#about-title .section-title {
  text-align: end;
}
#about-title .section-title h2 {
  font-size: 25px;
  font-weight: bold;
  color: #173b6c;
}
#about-title .section-title p{
    line-height: 1.9;
    font-size: 18px;
    color: #34373b;
}
#about-information ul li{
    font-size: 17px;
    padding: 18px 0 18px 0;
    border-bottom: 1px solid #babbbd;
}
#about-information ul li i{
    color: #149ddd;
    font-weight: bold;
}
